@charset 'utf-8';


.badge.point-badge {
	background-color: rgb(36, 120, 168) !important;
	color: white !important;
	border: none;
	height: 18px;
	padding: 0px 8px 0px;
}
#sc-wrapper {
	-webkit-transition: -webkit-transform 0.8s linear;
	background-color: white;
}
#sc-slide-show {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: 
	black;
	z-index: 1000;
}
#sc-body {
	position: relative;
	background-color: #222;
	color: #666;
	height: 100%;
	width: 100%;
}
    #sc-body .helper-animation {
        position: absolute;
        left: 0px;
        width: 100%;
        height: 0px;
        background-color: black;
        -webkit-transition: height 1s;
    }
    #sc-body #sc-top-helper-animation {
        top: 0px;
    }
    #sc-body #sc-bottom-helper-animation {
        bottom: 0px;
    }
#sc-right-btn {
	position: relative;
	float: left;
	width: 50%;
	height: 100%;
	z-index: 100;
}
#sc-left-btn {
	position: relative;
	float: left;
	width: 50%;
	height: 100%;
	z-index: 100;
}
#sc-ticket-list {
	position: absolute;
	top: 0px;
	left: -240px;
	height: 100%;
	width: 240px;
	border-right: 100px solid #222;
	background-color: #666;
	-webkit-transition: left 0.5s;
	overflow-y: scroll;
	z-index: 101;
}
#sc-ticket-list:hover {
	left: 0px;
}
#sc-ticket-list .sc-list-item {
	margin: 10px auto;
	padding: 10px;
	width: 180px;
	min-height: 100px;
	background-color: whiteSmoke;
	color: #666;
	cursor: pointer;
	border: 3px solid #666;
}
#sc-ticket {
	position: absolute;
	top: 30%;
	left: 50%;
	margin-left:-400px;
	min-height: 400px;
	color: white;
	font-size: 45px;
	width: 800px;
	line-height: 50px;
	text-align: center;
	-webkit-transition: -webkit-transform 1s;
}
#sc-exit-btn {
	position: absolute;
	z-index: 1000;
	right: 40px;
	top: 40px;
	opacity: 0.3;
	-webkit-transition: opacity 0.5s;
	cursor: pointer;
}
#sc-exit-btn:hover {
	opacity: 1;
}
#sc-iframe-container {
    position: absolute;
    left: 120%;
    height: 100%;
    width: 1200px
}
#sc-iframe {
    height: 100%;
    width: 100%;
}
.list-title {
    width: 130px;
    min-height: 23px;
}
.sc-sum-points {
    position: absolute;
    right: 20px;
    top: 3px;
    padding: 1px 6px;
    background-color: #2478A8;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}